body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* For Header Component */
.script-box {
  will-change: width, height, left, top;
  position: relative;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 0%;
  background: "lightgreen";
  text-indent: -9999px;
}

/* For HeaderText Component */
.trails-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: palevioletred;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

/******* SEVEN A (Arc) *******/
.script-box .shape-container {
  /* animation: move-right 6s 1 cubic-bezier(0.37, 0.55, 0.49, 0.97); */
  /* animation-delay: 5s; */
  position: absolute;
  left: 30vh;
  top: 50vh;
  /* opacity: 0; */
}
.shape-container .shape {
  animation: bounce 6s 1 linear;
  animation-delay: 5s;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
}

@keyframes move-right {
  0% {
    transform: translateX(-20em);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translateX(20em);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-8em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
    opacity: 1;
  }
  15% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
  }
  25% {
    transform: translateY(-4em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
  }
  32.5% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
  }
  40% {
    transform: translateY(0em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
  }
  45% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
  }
  50% {
    transform: translateY(3em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
  }
  56% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
  }
  60% {
    transform: translateY(6em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
  }
  64% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
  }
  66% {
    transform: translateY(7.5em);
    animation-timing-function: cubic-bezier(0.51, 0.01, 0.79, 0.02);
  }
  70%,
  100% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(0.19, 1, 0.7, 1);
    opacity: 1;
  }
}

.shape {
  background: orange;
  border: 1em solid #fff;
  width: 4em;
  height: 4em;
  /* position: absolute; */
  /* top: ; */
  /* left: calc(50% - 2em); */
}
