body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* For Header Component */
.script-box {
  will-change: width, height, left, top;
  position: relative;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 0%;
  background: "lightgreen";
  text-indent: -9999px;
}

/* For HeaderText Component */
.trails-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: palevioletred;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}
